<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Geolocation Sample</title>
</head>
<body>
<h1>売り上げ入力</h1>

<%= form_tag(earning_earn_path(id:current_user.id), method: :post) do%>
売り上げ<%= number_field_tag :revenue%>円 <br>
場所<%= text_field_tag :location%>
<%= submit_tag "決定" %>
<%end%>

<%=link_to "ホームへ",home_index_path(id:current_user.id)%>
<%=link_to "勤怠管理へ",attendance_index_path(id:current_user.id)%>
</body>
</html>
