<h1><%=@employee.username%>の売り上げ管理</h1>
<%= form_tag(admin_earning_search_month_path(id:@employee.id), method: :post) do%>
<%= number_field_tag :year,@year%>年
<%= number_field_tag :month,@month%>月
<%= submit_tag "検索" %>
<%end%>

<% @earnings.each do |earning| %>
    <p>日程　<%=earning.date.try(:strftime, "%Y年%-m月%-d日(#{%w(日 月 火 水 木 金 土)[earning.date.wday]})")%></p>
    <p>場所　<%=earning.location%></p>
    <p>売り上げ金　<%=earning.revenue%>円</p>
    <br>
<% end %>
