<h1>管理者ホーム</h1>
<h2>ようこそ<%=current_user.username%>さん</h2>

<h2>従業員リスト</h2>
<% @employees.each do |employee| %>
    <%= link_to employee.username,admin_show_path(id:employee.id)%>
    <%= link_to "勤怠管理",admin_attendance_path(id:employee.id)%><br>
<% end %>

<h2><%=current_user.username%>さんの情報の入力</h2>
<%=link_to "勤怠入力へ",attendance_index_path(id:current_user.id)%>
