<h1><%=@employee.username%>さん<%=%><%=@year%>年<%=@month%>月のまとめ</h1>
<%= form_tag(admin_search_month_path(id:@employee.id), method: :post) do%>
<%= number_field_tag :year,@year%>年
<%= number_field_tag :month,@month%>月
<%= submit_tag "検索" %>
<%end%>

<table class="table table-striped" style="margin-top:50px;">
  <tbody>
    <tr>
      <th scope="row">仕事時間合計</th>
      <td><%=sec_to_jp(sum_working_hour(@attendances))%></td>
    </tr>
    <tr>
      <th scope="row">給与合計</th>
      <td><%=sum_salary(@attendances,@employee).ceil%>円</td>
    </tr>
    <tr>
      <th scope="row">交通費</th>
      <td><%=sum_travel_cost(@attendances,@employee)%>円</td>
    </tr>
    <tr>
      <th scope="row">支払い合計</th>
      <td><%=sum_travel_cost(@attendances,@employee)+sum_salary(@attendances,@employee).ceil%>円</td>
    </tr>
  </tbody>
</table>
