<h1>ホーム</h1>
<%= form_tag(home_search_month_path(id:@user.id), method: :post) do%>
<%= number_field_tag :year,@year%>年
<%= number_field_tag :month,@month%>月
<%= submit_tag "検索" %>
<%end%>

<h2>勤務時間合計</h2>
<%=sum_working_hour(@attendances)%>
<h2>勤務</h2>
<% @attendances.each do |attendance| %>
    <p>
      出勤　<%=attendance.in_time.try(:strftime, "%Y年%-m月%-d日(#{%w(日 月 火 水 木 金 土)[attendance.in_time.wday]}) %H:%M:%S")%>
    </p>

      <%if attendance.out_time.nil?%>
      <p>出勤中</p>
      <p>出勤時間</p>
      <%else%>
      <p>退勤　<%=attendance.out_time.try(:strftime, "%Y年%-m月%-d日(#{%w(日 月 火 水 木 金 土)[attendance.out_time.wday]}) %H:%M:%S")%></p>
      <p>
        出勤時間　<%=working_hour(attendance.in_time,attendance.out_time)%>
      </p>
      <%end%>

    <br>
<% end %>

<h2>給与合計</h2>
<h2><%=sum_earning(@earnings)%></h2>
<%=link_to "勤怠入力へ",attendance_index_path(id:current_user.id)%>
