<h1>ホーム</h1>
<%= form_tag(home_search_month_path(id:@user.id), method: :post) do%>
<%= number_field_tag :year,@year%>年
<%= number_field_tag :month,@month%>月
<%= submit_tag "検索" %>
<%end%>

<h2><%=@year%>年<%=@month%>月の仕事時間合計</h2>
<%=sec_to_jp(sum_working_hour(@attendances))%>

<h2><%=@year%>年<%=@month%>月の給与合計</h2>
<h2><%=sum_salary(@attendances,@user).ceil%>円</h2>
<h2><%=@year%>年<%=@month%>月の交通費</h2>
<h2><%=sum_travel_cost(@attendances,@user)%>円</h2>
<h2><%=@year%>年<%=@month%>月の支払い合計</h2>
<h2><%=sum_travel_cost(@attendances,@user)+sum_salary(@attendances,@user).ceil%>円</h2>
<%=link_to "勤怠入力へ",attendance_index_path(id:current_user.id)%>

<h2>勤務詳細</h2>
<hr>
<% @attendances.each do |attendance| %>
  <%if attendance.is_remote then%>
    <p>
      リモート出勤　<%=attendance.in_time.try(:strftime, "%Y年%-m月%-d日(#{%w(日 月 火 水 木 金 土)[attendance.in_time.wday]}) %H:%M:%S")%>
    </p>
  <%else%>
    <p>
      出勤　<%=attendance.in_time.try(:strftime, "%Y年%-m月%-d日(#{%w(日 月 火 水 木 金 土)[attendance.in_time.wday]}) %H:%M:%S")%>
    </p>
  <%end%>
     <%attendance.break.each do |rest|%>
       <p>休憩開始時刻　<%=rest.in_time.try(:strftime, "%Y年%-m月%-d日(#{%w(日 月 火 水 木 金 土)[attendance.in_time.wday]}) %H:%M:%S")%></p>
       <p>休憩終了時刻　<%=rest.out_time.try(:strftime, "%Y年%-m月%-d日(#{%w(日 月 火 水 木 金 土)[attendance.in_time.wday]}) %H:%M:%S")%></p>
      <%end%>
      <%if attendance.out_time.nil?%>
      <p>出勤中</p>
      <%else%>
      <p>退勤　<%=attendance.out_time.try(:strftime, "%Y年%-m月%-d日(#{%w(日 月 火 水 木 金 土)[attendance.out_time.wday]}) %H:%M:%S")%></p>
      <br>
      <p>
        合計休憩時間 <%=sec_to_jp(sum_break_hour(attendance))%>
      </p>
      <p>
        出勤時間　<%=sec_to_jp(working_hour(attendance))%>
      </p>
      <p>
        仕事時間　<%=sec_to_jp(working_hour(attendance)-sum_break_hour(attendance))%>
      </p>
      <%end%>

    <hr>
<% end %>
<%=link_to "勤怠入力へ",attendance_index_path(id:current_user.id)%>
