<!DOCTYPE html>
<html>
  <head>
    <title>Kinchan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="padding-top:4.5rem;">
    <header>
      <% if user_signed_in? %>
      <nav class="navbar navbar-expand-lg  navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">Kinchan</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="ナビゲーションの切替">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <p style="color:white;margin:10px 20px 0 20px">ようこそ<%=current_user.username%>さん</p>
      <div class="nav-item nav-link logout_btn"><%= link_to "ホーム",home_index_path(current_user.id),class:"logout_btn" %></div>
      <div class="nav-item nav-link logout_btn"> <%= link_to "勤怠入力",attendance_index_path(current_user.id),class:"logout_btn" %> </div>
      <div class="nav-item nav-link logout_btn"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete,class:"logout_btn" %></a>
    </div>
  </div>
  <% end %>
    </header>
        <p class="alert-info"><%= notice %></p>
        <p class="alert-info"><%= alert %></p>
        <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
